$primary: #b876a1;
$secondary: #faf5f8;
$black: #0c0c0c;
$white: #fff;
$headerFont: "Slabo 27px", serif;
$bodyFont: "Roboto", sans-serif;

$radialGradient: radial-gradient(circle, #fff, #f1ecea);
$linearGradient: linear-gradient(to right, $primary, $secondary);
